<%- include("./partials/header")  %> 
<h1>Contact</h1>
<p><%= contactContent %> </p>
<p><a href="https://www.linkedin.com/in/kaustub-sreekrishnan-41850822b/">LinkedIn</a></p>
<%- include("./partials/footer")  %> 